@model IEnumerable<InventoryManagementSystem.Models.Detail>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<br />
<div class="container">
    <div class="row">
        <div class="col-8 offset-1">
            <h1 class="text-center text-primary ">User Record</h1>
            <a class="btn btn-sm btn-success text-white m-2" asp-controller="" asp-action="">Details</a>
            <p class="text-center text-success fs-3">@TempData["error"]</p>
            <table class="table table-bordered">
                <tr class="text-center">
                    <th>ID</th>
                    <th>PurchaseId</th>
                    <th>SupplierName</th>
                    <th>PurchaseDate</th>
                    <th>Address</th>
                    <th>EntryBy</th>
                    <th>EntryDate</th>
                    <th>Remark</th>
                    <th>ItemCode</th>
                    <th>ItemQty</th>
                    <th>ItemRate</th>
                    <th colspan="3">Action</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>@item.Id</td>
                        <td>@item.header.PurchaseId</td>
                        <td>@item.header.SupplierName</td>
                        <td>@item.header.PurchaseDate</td>
                        <td>@item.header.Address</td>
                        <td>@item.header.EntryBy</td>
                        <td>@item.header.EntryDate</td>
                        <td>@item.header.Remark</td>
                        <td>@item.ItemCode</td>
                        <td>@item.ItemQty</td>
                        <td>@item.ItemRate</td>


                        <td>
                            <a class="btn btn-sm btn-success" asp-controller="Detail" asp-action="Edit" asp-route-id="@item.Id">Details</a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-success" asp-controller="Detail" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-danger" asp-controller="Detail" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>