@model IEnumerable<InventoryManagementSystem.Models.Detail>
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="container">
    <div class="row">
        <div >
            <h1 class="text-center text-info ">Details Portal</h1>
            <p class="text-center text-success fs-3">@TempData["error"]</p>
            <table class="table table-bordered">
                <tr class="text-center">
                    <th>ID</th>
                    <th>PurchaseId</th>
                    <th>SupplierName</th>
                    <th>PurchaseDate</th>
                    <th>Address</th>
                    <th>EntryBy</th>
                    <th>EntryDate</th>
                    <th>Remark</th>
                    <th>ItemCode</th>
                    <th>ItemQty</th>
                    <th>ItemRate</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td>@item.Id</td>
                        <td>@item.header.PurchaseId</td>
                        <td>@item.header.SupplierName</td>
                        <td>@item.header.PurchaseDate</td>
                        <td>@item.header.Address</td>
                        <td>@item.header.EntryBy</td>
                        <td>@item.header.EntryDate</td>
                        <td>@item.header.Remark</td>
                        <td>@item.ItemCode</td>
                        <td>@item.ItemQty</td>
                        <td>@item.ItemRate</td>

                    </tr>
                }
            </table>
        </div>
    </div>
</div>